{% extends 'header.html' %}

{% block head %}

    <title>Distribución de probabilidad continua</title>

    <div class="container" align="middle" >

        <div class="jumbotron">

            <h1>Distribución de probabilidad continua</h1>
            <h3>Probabilidad P(a < X < b)</h3>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="container">

        <form method="post">

            {% csrf_token %}
            {{ ecuacion.as_p }}
            {{ limiteInferiorX.as_p }}
            {{ limiteSuperiorX.as_p }}

            <b><p> P(a < X < b) </p></b>

            {{ probabilidadInferior.as_p }}
            {{ probabilidadSuperior.as_p }}

            <input class="btn btn-primary" type="submit" value="Calcular">
        </form>
    </div>

{% endblock %}