
{% extends 'header.html' %}

{% block head %}

    <title>Distribución de probabilidad conjunta</title>

    <div class="container" align="middle" >

        <div class="jumbotron">

            <h1>Distribución de probabilidad conjunta (Continua)</h1>
        </div>
    </div>


{% endblock %}

{% block body %}

    <div class="container" >
        <div class="row">

            <div class="col-md-5">

                <form method="post">

                    {% csrf_token %}
                    {{ ecuacion.as_p }}
                    {{ limiteInferiorX.as_p }}
                    {{ limiteSuperiorX.as_p }}
                    {{ limiteInferiorY.as_p }}
                    {{ limiteSuperiorY.as_p }}

                    <input class="btn btn-primary" type="submit" value="Calcular">
                </form>
                <br>


                <div id="mydiv"> </div>


            </div>

            <div class="col-md-7">

                Distribución de probabilidad conjunta

                $${{ stringIntegralCompleta }}$$

                Distribución marginal g(x)

                $${{ stringFuncionMarginalX }}$$

                Distribución marginal h(y)

                $${{ stringFuncionMarginalY }}$$

                Valor esperado E(X)

                $${{ stringValorEsperadoX }}$$

                Valor esperado E(Y)
                $${{ stringValorEsperadoY }}$$

                Covarianza
                $${{ stringCovarianza }}$$

                <br>
            </div>
        </div>
    </div>
{% endblock %}