{% extends 'header.html' %}

{% block head %}

    <title>Distribución de probabilidad conjunta</title>

    <div class="container" align="middle" >

        <div class="jumbotron">

            <h1>Distribución de probabilidad conjunta (Continua)</h1>
            <h3>Distribuciones marginales, valor esperado y covarianza</h3>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="container">

        <form method="post">

            {% csrf_token %}
            {{ ecuacion.as_p }}
            {{ limiteInferiorX.as_p }}
            {{ limiteSuperiorX.as_p }}
            {{ limiteInferiorY.as_p }}
            {{ limiteSuperiorY.as_p }}

            <input class="btn btn-primary" type="submit" value="Calcular">
        </form>
    </div>

{% endblock %}