{% extends 'header.html' %}

{% block head %}

    <title>Distribución de probabilidad continua</title>

    <div class="container" align="middle">

        <div class="jumbotron">

            <h1>Distribución de probabilidad continua</h1>
            <h3>Varianza</h3>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-5">

                <form method="post">

                    {% csrf_token %}
                    {{ ecuacion.as_p }}
                    {{ limiteInferior.as_p }}
                    {{ limiteSuperior.as_p }}

                    <input class="btn btn-primary" type="submit" value="Calcular">
                </form>
                <br>

                <div id="mydiv"></div>

            </div>

            <div class="col-md-7">

                {{ msgDistribucion }}

                $${{ stringIntegral }}$$

                {{ errorMessage }}

                {{ msgProbabilidad }}

                $${{ stringProbabilidad }}$$
                <br>
            </div>
        </div>
    </div>
{% endblock %}